trigger:
  batch: true
  branches:
    include:
      - "feature-*"
      - "feature/*"
      - "develop"
      - "release-*"
      - "release/*"

stages:
  - stage: Test
    displayName: 测试
    jobs:
      - job: InitVariable
        pool: anyrobot-pools
        workspace:
          clean: all
        steps:
        - script: echo Hello, world!
          displayName: 'Run a one-line script'
        
        - script: |
            echo Add other tasks to build, test, and deploy your project.
            echo See https://aka.ms/yaml
          displayName: 'Run a multi-line script'
        - script: |
            docker run --rm -v $(Pipeline.Workspace)/span:/root/go/span docker.io/golang:1.15 sh -c  "cd /root/go/span && bash -x ./test_cover.sh"
          displayName: 'docker test'